# Ignore build artifacts and dependencies
/dist/
/obj/
/node_modules/

# Ignore IDE and editor specific files
.idea/
.vscode/

# Ignore compiled output
*.dll
*.exe

# Ignore log files
*.log

# Ignore package files
*.zip
*.tar.gz

# Ignore sensitive or environment-specific files
.env
secrets.yml
src/token.json
credentials.json

# Ignore generated documentation
/docs/

# Ignore user-specific files
*.user

# Ignore macOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db